/*Damien Degrelle*/
html{
	font-family:"Trebuchet MS";
}

body{
	background:#343436;
}

#content{
	position: relative;
	padding:10px 10px;
  margin: auto;
  text-align: left;
	height:auto;
	width:50%;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

textarea{
	position:relative;
	padding:15px 3%;
	margin:15px 1%;
	width:98%;
	height:500px;
	background:#1d1f20;
	resize: none;
	color:white;
	border:0;
	transition:all .3s;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
}

textarea:focus {
    outline: none !important;
		-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
}

#console{
	background:rgb(50,50,50);
	padding:15px 3%;
	margin:0 1%;
	width:91.5%;
	height:250px;
	overflow:auto;
	-moz-box-shadow: inset 0px 0px 10px 2px #000000;
	-webkit-box-shadow: inset 0px 0px 10px 2px #000000;
	-o-box-shadow: inset 0px 0px 10px 2px #000000;
	box-shadow: inset 0px 0px 10px 2px #000000;
}

.error{
	color:red;
	font-size:13px;
	padding:0 15px;
}

.result{
	color:white;
	font-size:13px;
	padding:0 15px;
}

#content-1{
}

#content-2{
}

#tabs ul {
	margin: 0 1%;
	padding-bottom:16px;
	width:97.5%;
	list-style: none;
	height: 30px;
}

#tabs ul li {
	float: left;
	width:auto;
	text-align:center;
	height: auto;
	line-height: 29px;
	border-left: none;
	background: #ddd;
	border-right: 1px solid #666;
}

#tabs ul li a {
	text-decoration: none;
	color: #888;
	display: block;
	font-family: "Trebuchet MS";
	font-size: 14px;
	padding: 0 20px;
}

#tabs ul li a:hover {
	background: #ccc;
	color: #666;
}
input[type="submit"]{
	text-decoration: none;
	color: #888;
	display: block;
	font-family: "Trebuchet MS";
	font-size: 14px;
	padding: 0 20px;
	float: left;
	width:auto;
	text-align:center;
	height: auto;
	line-height: 29px;
	border-left: none;
	background: #ddd;
	border-right: 1px solid #666;
}
input[type="submit"]:hover {
	background: #ccc;
	color: #666;
}
#tree{
	position: fixed;
	float: left;
	width: 300px;
	height: auto;
	background: #1d1f20;
	color: white;
}
#tree a{
	color:white;
	text-decoration:none;
}
