/*Damien Degrelle*/
body{
	background:#343436;
}
textarea{
	padding:15px;
	position:relative;
	margin:2% 2%;
	width:93.2%;
	height:86%;
	background:#1d1f20;
	border:0;
	resize: none;
	color:white;
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
	transition:all .3s;
}

textarea:focus {
    outline: none !important;
		-webkit-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.75);
}

#edit{
	background:#343436;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:70%;
	height:550px;
		-webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
